<a href="https://colab.research.google.com/github/LeafarxC/aula_dados_analytics_python/blob/main/apply_map_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#Criar df

dados = {
    'Nome' : ['Carlos', 'Ines', 'Maria', 'Rita'],
    'Idade' : [24, 29, 35, 25],
    'Status' : ['ativo', 'ativo', 'inativo', 'ativo']
}

df = pd.DataFrame(dados)

print(df)

     Nome  Idade   Status
0  Carlos     24    ativo
1    Ines     29    ativo
2   Maria     35  inativo
3    Rita     25    ativo

In [4]:
#Apply()

def categoria_idade(idade):
  if idade < 30:
    return 'Jovem'
  else:
    return 'Adulto'

df['Categoria_Idade'] = df['Idade'].apply(categoria_idade)
print(df)

     Nome  Idade   Status Categoria_Idade
0  Carlos     24    ativo           Jovem
1    Ines     29    ativo           Jovem
2   Maria     35  inativo          Adulto
3    Rita     25    ativo           Jovem

In [5]:
#map

mapeamento_status = {'ativo' : 'Ativo', 'inativo': 'Inativo'}
df['Novo_Status'] = df['Status'].map(mapeamento_status)
print(df)

     Nome  Idade   Status Categoria_Idade Novo_Status
0  Carlos     24    ativo           Jovem       Ativo
1    Ines     29    ativo           Jovem       Ativo
2   Maria     35  inativo          Adulto     Inativo
3    Rita     25    ativo           Jovem       Ativo

In [6]:
#Apply - lambda

df['Idade_Dobrada'] = df['Idade'].apply(lambda x : x * 2)
print(df)

     Nome  Idade   Status Categoria_Idade Novo_Status  Idade_Dobrada
0  Carlos     24    ativo           Jovem       Ativo             48
1    Ines     29    ativo           Jovem       Ativo             58
2   Maria     35  inativo          Adulto     Inativo             70
3    Rita     25    ativo           Jovem       Ativo             50