<a href="https://colab.research.google.com/github/LeafarxC/aula_dados_analytics_python/blob/main/astype_isna_fillna_dropna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
dados = {
    'Numero' : ['1', '2', '3', '4'], # números em string
    'Preço' : [10.5, 20.0, 15.75, 25.00], # Float
}

df = pd.DataFrame(dados)

print(df)

  Numero  Preço
0      1  10.50
1      2  20.00
2      3  15.75
3      4  25.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Numero  4 non-null      object
 1   Preço   4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 196.0+ bytes

In [5]:
#converter 'Numero_string'para int

df['Numero'] = df['Numero'].astype(int)

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Numero  4 non-null      int64
 1   Preço   4 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 196.0 bytes
None

In [7]:
#converter preço float para int

df['Preço'] = df['Preço'].astype(int)

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Numero  4 non-null      int64
 1   Preço   4 non-null      int64
dtypes: int64(2)
memory usage: 196.0 bytes
None

In [9]:
print(df)

   Numero  Preço
0       1     10
1       2     20
2       3     15
3       4     25

In [12]:
#Valores ausentes

df2 = pd.DataFrame({
    'A' : [1, 2, np.nan, 4, 5],
    'B' : [np.nan, 2, 3, 4, np.nan],
    'C' : [1, 2, 3, 4, 5]
})

In [13]:
print(df2)

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  4.0  4
4  5.0  NaN  5

In [15]:
#isna()
print(df2.isna())

       A      B      C
0  False   True  False
1  False  False  False
2   True  False  False
3  False  False  False
4  False   True  False

In [16]:
#fillna - preencher com 0 onde tem valores nulos

df_nulos = df2.fillna({'A' : 0})

print(df_nulos)

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  0.0  3.0  3
3  4.0  4.0  4
4  5.0  NaN  5

In [17]:
#fillna - preencher com uma média de valores

df_media = df2.fillna(df2.mean())

In [18]:
print(df_media)

     A    B  C
0  1.0  3.0  1
1  2.0  2.0  2
2  3.0  3.0  3
3  4.0  4.0  4
4  5.0  3.0  5

In [19]:
#Remover linhas com valores nan
df_drop_linhas = df2.dropna()
print(df_drop_linhas)

     A    B  C
1  2.0  2.0  2
3  4.0  4.0  4

In [20]:
#Remover colunas que tenham nan
df_drop_cols = df2.dropna(axis=1)
print(df_drop_cols)

   C
0  1
1  2
2  3
3  4
4  5