<a href="https://colab.research.google.com/github/LeafarxC/aula_dados_analytics_python/blob/main/concat_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [27]:
dados1 = {
    'Cidade' : ['Porto', 'Lisboa', 'Porto', 'Aveiro', 'Lisboa', 'Porto'],
    'Vendas' : [100, 150, 120, 80, 200, 90],
    'Produto' : ['Banana', 'Pera', 'Banana', 'Uva', 'Pera', 'Banana']
}
index1 = [0, 1, 2, 3, 4, 5]


dados2 = {
    'Cidade' : ['Braga', 'Coimbra', 'Braga', 'Faro', 'Coimbra', 'Braga'],
    'Vendas' : [120, 170, 130, 90, 220, 110],
    'Produto' : ['Batata', 'Cebola', 'Batata', 'alho', 'Cebola', 'Banana']
}
index2 = [6, 7, 8, 9, 10, 11]

In [28]:
df1 = pd.DataFrame(dados1, index1)
df2 = pd.DataFrame(dados2, index2)

In [29]:
print(df1)

   Cidade  Vendas Produto
0   Porto     100  Banana
1  Lisboa     150    Pera
2   Porto     120  Banana
3  Aveiro      80     Uva
4  Lisboa     200    Pera
5   Porto      90  Banana

In [30]:
print(df2)

     Cidade  Vendas Produto
6     Braga     120  Batata
7   Coimbra     170  Cebola
8     Braga     130  Batata
9      Faro      90    alho
10  Coimbra     220  Cebola
11    Braga     110  Banana

In [31]:
concat_linhas = pd.concat([df1, df2])
print(concat_linhas)

     Cidade  Vendas Produto
0     Porto     100  Banana
1    Lisboa     150    Pera
2     Porto     120  Banana
3    Aveiro      80     Uva
4    Lisboa     200    Pera
5     Porto      90  Banana
6     Braga     120  Batata
7   Coimbra     170  Cebola
8     Braga     130  Batata
9      Faro      90    alho
10  Coimbra     220  Cebola
11    Braga     110  Banana

In [32]:
concat_cols = pd.concat([df1, df2], axis=1)
print(concat_cols)

    Cidade  Vendas Produto   Cidade  Vendas Produto
0    Porto   100.0  Banana      NaN     NaN     NaN
1   Lisboa   150.0    Pera      NaN     NaN     NaN
2    Porto   120.0  Banana      NaN     NaN     NaN
3   Aveiro    80.0     Uva      NaN     NaN     NaN
4   Lisboa   200.0    Pera      NaN     NaN     NaN
5    Porto    90.0  Banana      NaN     NaN     NaN
6      NaN     NaN     NaN    Braga   120.0  Batata
7      NaN     NaN     NaN  Coimbra   170.0  Cebola
8      NaN     NaN     NaN    Braga   130.0  Batata
9      NaN     NaN     NaN     Faro    90.0    alho
10     NaN     NaN     NaN  Coimbra   220.0  Cebola
11     NaN     NaN     NaN    Braga   110.0  Banana