<a href="https://colab.research.google.com/github/LeafarxC/aula_dados_analytics_python/blob/main/dataframes_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
#criando o nosso primeiro Dataframe a partir de um dicionario
dados = {
    'Nome' : ['Alice', 'Eduardo', 'Carlos', 'Rafael'],
    'Idade' : [25, 30, 19, 27],
    'Cidade' : ['Porto', 'Lisboa', 'Aveiro', 'Braga']
}

print(dados)

{'Nome': ['Alice', 'Eduardo', 'Carlos', 'Rafael'], 'Idade': [25, 30, 19, 27], 'Cidade': ['Porto', 'Lisboa', 'Aveiro', 'Braga']}

In [4]:
df = pd.DataFrame(dados) #pd.DataFrame()

In [5]:
print(df)

      Nome  Idade  Cidade
0    Alice     25   Porto
1  Eduardo     30  Lisboa
2   Carlos     19  Aveiro
3   Rafael     27   Braga

In [7]:
#print(df.Nome)
print(df['Cidade'])

0     Porto
1    Lisboa
2    Aveiro
3     Braga
Name: Cidade, dtype: object

In [8]:
#criar um DT a partir de uma lista de dicionarios
lista_dict = [
    {'Nome' : 'Rodrigo', 'Idade' : '28', 'Cidade' : 'Porto'},
    {'Nome' : 'Pedro', 'Idade' : '30', 'Cidade' : 'Braga'},
    {'Nome' : 'Rui', 'Idade' : '20', 'Cidade' : 'Aveiro'}
]

df2 = pd.DataFrame(lista_dict)

In [9]:
print(df2)

      Nome Idade  Cidade
0  Rodrigo    28   Porto
1    Pedro    30   Braga
2      Rui    20  Aveiro

In [10]:
print(df2.Idade)

0    28
1    30
2    20
Name: Idade, dtype: object