<a href="https://colab.research.google.com/github/LeafarxC/aula_dados_analytics_python/blob/main/datas_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df_datas = pd.DataFrame({
    'Data_string' : ['2025-01-01', '2025-05-05', '2025-01-18'],
    'Evento' : ['Feriado', 'Reunião', 'Lançamento']
})

print(df_datas)

  Data_string      Evento
0  2025-01-01     Feriado
1  2025-05-05     Reunião
2  2025-01-18  Lançamento

In [3]:
#Dtypes

print(df_datas.dtypes)

Data_string    object
Evento         object
dtype: object

In [5]:
#Converter Data_String para datetime

df_datas['Data'] = pd.to_datetime(df_datas['Data_string'])
print(df_datas)
print(df_datas.dtypes)

  Data_string      Evento       Data
0  2025-01-01     Feriado 2025-01-01
1  2025-05-05     Reunião 2025-05-05
2  2025-01-18  Lançamento 2025-01-18
Data_string            object
Evento                 object
Data           datetime64[ns]
dtype: object

In [10]:
df_datas_formatos = pd.DataFrame({
    'Data' : ['01/01/2025', '02-jan-2025', '20250118'],
    'valor' : [10,20,30]
})

print(df_datas_formatos)
print(df_datas_formatos.dtypes)

          Data  valor
0   01/01/2025     10
1  02-jan-2025     20
2     20250118     30
Data     object
valor     int64
dtype: object

In [11]:
df_datas_formatos['Data_Convertida'] = pd.to_datetime(df_datas_formatos['Data'], format='mixed')
print(df_datas_formatos)

          Data  valor Data_Convertida
0   01/01/2025     10      2025-01-01
1  02-jan-2025     20      2025-01-02
2     20250118     30      2025-01-18

In [13]:
#Extração de datas
df_partes_data = pd.DataFrame({
    'Timestamp' : pd.to_datetime(['2025-01-15 10:30:00', '2025-01-20 11:30:00', '2025-01-25 12:30:00'])
})

print(df_partes_data)
print(df_partes_data.dtypes)

            Timestamp
0 2025-01-15 10:30:00
1 2025-01-20 11:30:00
2 2025-01-25 12:30:00
Timestamp    datetime64[ns]
dtype: object

In [17]:
df_partes_data['Ano'] = df_partes_data['Timestamp'].dt.year
df_partes_data['Mes'] = df_partes_data['Timestamp'].dt.month
df_partes_data['Dia'] = df_partes_data['Timestamp'].dt.day
df_partes_data['Hora'] = df_partes_data['Timestamp'].dt.hour
df_partes_data['Dia_semana'] = df_partes_data['Timestamp'].dt.day_of_week
df_partes_data['Nome_dia_semana'] = df_partes_data['Timestamp'].dt.day_name()
print(df_partes_data)

            Timestamp   Ano  Mes  Dia  Hora  Dia_semana Nome_dia_semana
0 2025-01-15 10:30:00  2025    1   15    10           2       Wednesday
1 2025-01-20 11:30:00  2025    1   20    11           0          Monday
2 2025-01-25 12:30:00  2025    1   25    12           5        Saturday

In [18]:
df2 = pd.DataFrame({
    'Data' : pd.to_datetime(['2025-01-15', '2025-01-20', '2025-01-25']),
    'valor' : [10,20,30]
})

print(df2)

        Data  valor
0 2025-01-15     10
1 2025-01-20     20
2 2025-01-25     30

In [19]:
#filtrar por uma data específica

data_filtro = df2[df2['Data'] == '2025-01-15']
print(data_filtro)

        Data  valor
0 2025-01-15     10

In [20]:
#Filtrar por um mês específico
data_filtro2 = df2[df2['Data'].dt.month == 1]
print(data_filtro2)

        Data  valor
0 2025-01-15     10
1 2025-01-20     20
2 2025-01-25     30

In [21]:
#Filtrar por um intervalo de tempo
data_filtro3 = df2[(df2['Data'] >= '2025-01-01') & (df2['Data'] <= '2025-02-15')]
print(data_filtro3)

        Data  valor
0 2025-01-15     10
1 2025-01-20     20
2 2025-01-25     30

In [22]:
#between()
data_filtro4 = df2[df2['Data'].between('2025-01-01', '2025-02-15')]
print(data_filtro4)

        Data  valor
0 2025-01-15     10
1 2025-01-20     20
2 2025-01-25     30