<a href="https://colab.research.google.com/github/LeafarxC/aula_dados_analytics_python/blob/main/filter_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
dados = {
    'Nomes' : ['Rafael', 'Ana', 'Roberto'],
    'Idade' : [32, 24, 28],
    'Cidade' : ['Faro', 'Lisboa', 'Braga'],
    'Pontuação' : [78, 89, 95]
}

df = pd.DataFrame(dados)

In [6]:
print(df)

     Nomes  Idade  Cidade  Pontuação
0   Rafael     32    Faro         78
1      Ana     24  Lisboa         89
2  Roberto     28   Braga         95

In [7]:
#Filtrar Pessoas com idade maior que 30

filtro_idade = df[df['Idade']>30]

In [8]:
print(filtro_idade)

    Nomes  Idade Cidade  Pontuação
0  Rafael     32   Faro         78

In [9]:
#Cidade Lisboa e Pontuação acima de 85
filtro_cid_pont = df[(df['Cidade']== 'Lisboa') & (df['Pontuação'] > 80)]

In [10]:
print(filtro_cid_pont)

  Nomes  Idade  Cidade  Pontuação
1   Ana     24  Lisboa         89

In [11]:
#Cidade Lisboa ou Faro
filtro_cid_cid = df[(df['Cidade']== 'Lisboa') | (df['Cidade'] == 'Faro')]

In [12]:
print(filtro_cid_cid)

    Nomes  Idade  Cidade  Pontuação
0  Rafael     32    Faro         78
1     Ana     24  Lisboa         89

In [13]:
#Comando isin()
filtro_isin = df[df['Cidade'].isin(['Lisboa', 'Faro'])]
print(filtro_isin)

    Nomes  Idade  Cidade  Pontuação
0  Rafael     32    Faro         78
1     Ana     24  Lisboa         89