<a href="https://colab.research.google.com/github/LeafarxC/aula_dados_analytics_python/blob/main/Formatando_colunas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
dados = {
    'Produto' : ['A', 'B', 'C', 'D'],
    'Preço' : [10, 20, 15, 25],
    'Quantidade_vendida' : [5, 3, 7, 2]
}

df = pd.DataFrame(dados)

print(df)

  Produto  Preço  Quantidade_vendida
0       A     10                   5
1       B     20                   3
2       C     15                   7
3       D     25                   2

In [5]:
df['Valor_total'] = df['Preço']* df['Quantidade_vendida']
print(df)

  Produto  Preço  Quantidade_vendida  Valor_total
0       A     10                   5           50
1       B     20                   3           60
2       C     15                   7          105
3       D     25                   2           50

In [6]:
#Coluna com valor fixo

df['Desconto_aplicado'] = 0.10
print(df)

  Produto  Preço  Quantidade_vendida  Valor_total  Desconto_aplicado
0       A     10                   5           50                0.1
1       B     20                   3           60                0.1
2       C     15                   7          105                0.1
3       D     25                   2           50                0.1

In [7]:
#renomear a coluna produto

df_novo = df.rename(columns={'Produto' : 'Produto_loja'})

print(df_novo)

  Produto_loja  Preço  Quantidade_vendida  Valor_total  Desconto_aplicado
0            A     10                   5           50                0.1
1            B     20                   3           60                0.1
2            C     15                   7          105                0.1
3            D     25                   2           50                0.1

In [9]:
#Modificar o dataframe original usar inplace e não colocar uma nova variável
df.rename(columns={'Produto' : 'Produto_loja'}, inplace=True)

print(df)

  Produto_loja  Preço  Quantidade_vendida  Valor_total  Desconto_aplicado
0            A     10                   5           50                0.1
1            B     20                   3           60                0.1
2            C     15                   7          105                0.1
3            D     25                   2           50                0.1

In [10]:
#Remover Colunas
df = df.drop('Desconto_aplicado', axis=1)
print(df)

  Produto_loja  Preço  Quantidade_vendida  Valor_total
0            A     10                   5           50
1            B     20                   3           60
2            C     15                   7          105
3            D     25                   2           50

In [11]:
df.drop(['Quantidade_vendida', 'Valor_total'], axis=1, inplace=True)
print(df)

  Produto_loja  Preço
0            A     10
1            B     20
2            C     15
3            D     25