<a href="https://colab.research.google.com/github/LeafarxC/aula_dados_analytics_python/blob/main/funcoes_agregacao_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
dados = {
    'Cidade' : ['Porto', 'Lisboa', 'Porto', 'Aveiro', 'Lisboa', 'Porto'],
    'Vendas' : [100, 150, 120, 80, 200, 90],
    'Produto' : ['A', 'B', 'A', 'C', 'B', 'A' ]
}

df = pd.DataFrame(dados)
print(df)

   Cidade  Vendas Produto
0   Porto     100       A
1  Lisboa     150       B
2   Porto     120       A
3  Aveiro      80       C
4  Lisboa     200       B
5   Porto      90       A

In [4]:
#Agrupar por Cidades e calcular soma das vendas

vendas_por_cidade = df.groupby('Cidade')['Vendas'].sum()
print(vendas_por_cidade)

Cidade
Aveiro     80
Lisboa    350
Porto     310
Name: Vendas, dtype: int64

In [5]:
media_vendas = df.groupby(['Cidade', 'Produto'])['Vendas'].mean()
print(media_vendas)

Cidade  Produto
Aveiro  C           80.000000
Lisboa  B          175.000000
Porto   A          103.333333
Name: Vendas, dtype: float64