<a href="https://colab.research.google.com/github/LeafarxC/aula_dados_analytics_python/blob/main/head_tail_shape_info_describe_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
dados = {
    'Nome': ['Ana', 'Pedro', 'Carlos', 'Daniel'],
    'Idade' : [23, 28, 34, 45],
    'Localidade' : ['Porto', 'Lisboa', 'Coimbra', 'Faro' ]
}

In [4]:
print(dados)

{'Nome': ['Ana', 'Pedro', 'Carlos', 'Daniel'], 'Idade': [23, 28, 34, 45], 'Localidade': ['Porto', 'Lisboa', 'Coimbra', 'Faro']}

In [5]:
df = pd.DataFrame(dados)

print(df)

     Nome  Idade Localidade
0     Ana     23      Porto
1   Pedro     28     Lisboa
2  Carlos     34    Coimbra
3  Daniel     45       Faro

In [7]:
#Head(n) - Retorna as primeiras n linhas do df
print(df.head(3))

     Nome  Idade Localidade
0     Ana     23      Porto
1   Pedro     28     Lisboa
2  Carlos     34    Coimbra

In [8]:
#Tail(n) - Retorna as ultimas n linhas

print(df.tail(2))

     Nome  Idade Localidade
2  Carlos     34    Coimbra
3  Daniel     45       Faro

In [9]:
#shape - Retorna quantidade de linhas e colunas
df.shape

(4, 3)

In [11]:
#Info - Fornece um resumo do DataFrame

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Nome        4 non-null      object
 1   Idade       4 non-null      int64
 2   Localidade  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [12]:
#Describe() - Retorna estatísticas dobre o DF - Retorna uma estatística descritiva / Mean- Média / std - desvio Padrão

print(df.describe())

           Idade
count   4.000000
mean   32.500000
std     9.469248
min    23.000000
25%    26.750000
50%    31.000000
75%    36.750000
max    45.000000