<a href="https://colab.research.google.com/github/LeafarxC/aula_dados_analytics_python/blob/main/Introdu%C3%A7%C3%A3o_a_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Criando Listas
numeros = []

nomes = ['João', 'Maria', 'Rafael']

numeros = [10, 30, 125]

alturas = [ 1.75, 1.69, 1.54]

x = [ 'Elisa', 30, 1.65, True]

y = ['laranja', ['limão', 'Morango'] ]

In [ ]:
#Acessando item de uma lista

print(nomes[0])
print(nomes[1])
print(nomes[2])
print(nomes[-1])

In [ ]:
#Acessando um índice inexistente
print(nomes[10])

In [ ]:
# verificar a existência de um item na lista
if 'joão' in nomes:
    print("João esta dentro da ista")

In [ ]:
#modificando um valor dentro de uma lista
frutas = [ 'laranja', 'morango']
print(frutas)

frutas[1] = 'banana'