<a href="https://colab.research.google.com/github/LeafarxC/aula_dados_analytics_python/blob/main/Join_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df_vendas_loja_a = pd.DataFrame({
    "Item" : ['TV', 'Coluna', 'Fogão'],
    "Preço" : [1500, 1200, 1800],
    'Vendas_A' : [100, 150, 200]
}, index = ['TV', 'Coluna', 'Fogão'])

In [3]:
df_vendas_loja_b = pd.DataFrame({
    'Vendas_B' : [100, 200, 300],
    'Stock_B' : [20, 40, 50]
}, index = ['TV', 'Coluna', 'M.Lavar'])

In [4]:
print(df_vendas_loja_a)

          Item  Preço  Vendas_A
TV          TV   1500       100
Coluna  Coluna   1200       150
Fogão    Fogão   1800       200

In [5]:
print(df_vendas_loja_b)

         Vendas_B  Stock_B
TV            100       20
Coluna        200       40
M.Lavar       300       50

In [6]:
# Left join (Padrão)
left_join = df_vendas_loja_a.join(df_vendas_loja_b, how = 'left')
print(left_join)

          Item  Preço  Vendas_A  Vendas_B  Stock_B
TV          TV   1500       100     100.0     20.0
Coluna  Coluna   1200       150     200.0     40.0
Fogão    Fogão   1800       200       NaN      NaN

In [7]:
#Inner join
inner_join = df_vendas_loja_a.join(df_vendas_loja_b, how = 'inner')
print(inner_join)

          Item  Preço  Vendas_A  Vendas_B  Stock_B
TV          TV   1500       100       100       20
Coluna  Coluna   1200       150       200       40

In [8]:
#outer join
outer_join = df_vendas_loja_a.join(df_vendas_loja_b, how = 'outer')
print(outer_join)

           Item   Preço  Vendas_A  Vendas_B  Stock_B
Coluna   Coluna  1200.0     150.0     200.0     40.0
Fogão     Fogão  1800.0     200.0       NaN      NaN
M.Lavar     NaN     NaN       NaN     300.0     50.0
TV           TV  1500.0     100.0     100.0     20.0