<a href="https://colab.research.google.com/github/LeafarxC/aula_dados_analytics_python/blob/main/loc_iloc_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
#criar um df

dados = {
    'Produtos' : ['A', 'B', 'C'],
    'Preço' : [10.5, 23.5, 20.0],
    'Stock' : [100, 50, 70]
}

index = ['item1', 'item2', 'item3']

df = pd.DataFrame(dados, index)

In [7]:
print(df)

      Produtos  Preço  Stock
item1        A   10.5    100
item2        B   23.5     50
item3        C   20.0     70

In [5]:
#Visualizar colunas específicas
#df.Produtos
df['Stock']

item1    100
item2     50
item3     70
Name: Stock, dtype: int64

In [9]:
#Selecionar Multiplas colunas
print(df[['Produtos', 'Stock']])

      Produtos  Stock
item1        A    100
item2        B     50
item3        C     70

In [10]:
#Comando Loc - Seleção do Item3
print(df.loc['item3'])

Produtos       C
Preço       20.0
Stock         70
Name: item3, dtype: object

In [12]:
#Comando Loc para linhas e colunas
print(df.loc[['item1', 'item3'], ['Preço', 'Stock']])

       Preço  Stock
item1   10.5    100
item3   20.0     70

In [13]:
#Comando iLoc - para buscar o item3

print(df.iloc[2]) #index

Produtos       C
Preço       20.0
Stock         70
Name: item3, dtype: object

In [14]:
#Comando iLoc - para linhas e colunas

print(df.iloc[0:2, 1:3]) #index

       Preço  Stock
item1   10.5    100
item2   23.5     50