<a href="https://colab.research.google.com/github/LeafarxC/aula_dados_analytics_python/blob/main/sort_Values_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
dados = {
    'Produtos' : ['Maçã', 'Banana', 'Laranja'],
    'Preço' : [10.5, 23.5, 20.0],
    'Stock' : [100, 50, 70]
}

df = pd.DataFrame(dados)

In [6]:
print(df)

  Produtos  Preço  Stock
0     Maçã   10.5    100
1   Banana   23.5     50
2  Laranja   20.0     70

In [7]:
#Ordenar por Preço em ordem crescente

df_preco = df.sort_values(by='Preço')
print(df_preco)

  Produtos  Preço  Stock
0     Maçã   10.5    100
2  Laranja   20.0     70
1   Banana   23.5     50

In [9]:
#Ordenar por Stock em ordem decrescente
df_qtd = df.sort_values(by='Stock', ascending=False)
print(df_qtd)

  Produtos  Preço  Stock
0     Maçã   10.5    100
2  Laranja   20.0     70
1   Banana   23.5     50

In [10]:
#Ordenar por múltiplas colunas
df_multi = df.sort_values(by=['Preço', 'Stock'], ascending=[True, False])
print(df_multi)

  Produtos  Preço  Stock
0     Maçã   10.5    100
2  Laranja   20.0     70
1   Banana   23.5     50